<a href="https://colab.research.google.com/github/jafetimbre/optimus/blob/master/src/lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Descarcarea librariei custom de masurare a timpilor

In [ ]:
!wget https://raw.githubusercontent.com/jafetimbre/optimus/master/lib/opt_timer.py

--2021-02-15 12:41:30--  https://raw.githubusercontent.com/jafetimbre/optimus/master/lib/opt_timer.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1362 (1.3K) [text/plain]
Saving to: ‘opt_timer.py’

opt_timer.py        100%[===================>]   1.33K  --.-KB/s    in 0s

2021-02-15 12:41:30 (47.7 MB/s) - ‘opt_timer.py’ saved [1362/1362]

Importarea librariilor

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import string
import random
import timeit

# import opt_timer as tmr

# Laboratorul 3

In [22]:
nume_produse = [i for i in string.ascii_lowercase[:20]]
pret_produse = [round(random.random()*(random.random()*100), 2) for i in range(20)]

produse = pd.Series(pret_produse, index=nume_produse)
print(produse)

a     2.66
b    19.55
c    26.54
d     4.11
e    76.90
f    81.10
g    55.44
h    26.68
i    15.72
j     8.50
k    13.97
l    37.12
m    25.45
n    23.84
o     6.60
p    36.46
q    13.98
r     0.29
s    39.22
t    79.45
dtype: float64

In [23]:
produse[:10]

a     2.66
b    19.55
c    26.54
d     4.11
e    76.90
f    81.10
g    55.44
h    26.68
i    15.72
j     8.50
dtype: float64

In [34]:
non_zero_ind = [ 1, 3, 6, 21, 32, 56, 61 ,81 ,82 ,97 ]
non_zero_val = [ round(random.random() * 100, 2) for i in range(10) ]

vec_rar_a = pd.Series(non_zero_val, index=non_zero_ind)

vec_rar_b = np.zeros(100)
vec_rar_b[non_zero_ind] = non_zero_val

In [52]:
print(vec_rar_a)

1     97.1
3     14.5
6     64.9
21    17.8
32    46.3
56     5.4
61    72.4
81     3.1
82    44.5
97    17.8
dtype: float64

In [42]:
print(f'Afisarea folosind keys() peste matricea A : { timeit.timeit("vec_rar_a.keys()", globals=globals(), number = 1000) }')

Afisarea folosind keys() peste matricea A : 0.00040495299981557764

In [45]:
print([ (i,v) for i,v in vec_rar_a.items() ])

[(1, 97.1), (3, 14.5), (6, 64.9), (21, 17.8), (32, 46.3), (56, 5.4), (61, 72.4), (81, 3.1), (82, 44.5), (97, 17.8)]

In [48]:
li = np.zeros(100)
for i,v in vec_rar_a.items():
    li[i] = v

print(li)

[ 0.  97.1  0.  14.5  0.   0.  64.9  0.   0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.  17.8  0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.  46.3  0.   0.   0.   0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
  5.4  0.   0.   0.   0.  72.4  0.   0.   0.   0.   0.   0.   0.   0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   3.1 44.5  0.
  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.  17.8
  0.   0. ]

In [50]:
vec_rar_a[:5]

1     97.1
3     14.5
6     64.9
21    17.8
32    46.3
dtype: float64

In [51]:
li[:5]

array([ 0. , 97.1,  0. , 14.5,  0. ])

# DataFrame

In [82]:
nume_prod = [ i+j+p for p in string.ascii_lowercase for j in string.ascii_lowercase for i in string.ascii_lowercase ]
pret_prod = [ round(random.random()*100, 2) for i in range(len(nume_prod)) ]
cant_prod = [ round(random.random()*100) for i in range(len(nume_prod)) ]

s_pret = pd.Series(pret_prod, index=nume_prod, name='pret')
s_cant = pd.Series(cant_prod, index=nume_prod, name='cantitate')

df = pd.DataFrame({'pret': s_pret, 'cantitate': s_cant})
df

      pret  cantitate
aaa  60.22         41
baa  22.80         21
caa  77.61         24
daa  53.85         37
eaa  95.18         10
..     ...        ...
vzz  85.72         17
wzz  67.03         22
xzz  70.53         36
yzz  71.90         65
zzz  64.31         58

[17576 rows x 2 columns]

In [102]:
for prod in df.index [len(df)-10:]:
    print(f'Produsul ({prod}), pretul ({df["pret"][prod]}), cantitate ({df["cantitate"][prod]})')

Produsul (qzz), pretul (62.59), cantitate (74)
Produsul (rzz), pretul (63.26), cantitate (21)
Produsul (szz), pretul (7.59), cantitate (33)
Produsul (tzz), pretul (20.56), cantitate (4)
Produsul (uzz), pretul (28.9), cantitate (18)
Produsul (vzz), pretul (85.72), cantitate (17)
Produsul (wzz), pretul (67.03), cantitate (22)
Produsul (xzz), pretul (70.53), cantitate (36)
Produsul (yzz), pretul (71.9), cantitate (65)
Produsul (zzz), pretul (64.31), cantitate (58)

In [113]:
nume_sensor = [ f'senzor{i}' for i in range(len(nume_sensor)) ]
x_cord = [ round(random.random()*100) for i in range(len(nume_sensor)) ]
y_cord = [ round(random.random()*100) for i in range(len(nume_sensor)) ]
val = [ round(random.random()*10, 2) for i in range(len(nume_sensor)) ]

senzori = pd.DataFrame({'x_cord': x_cord, 'y_cord': y_cord, 'val': val}, index=nume_sensor)
senzori

           x_cord  y_cord   val
senzor0         5      26  6.96
senzor1        23      61  2.14
senzor2        92      18  3.82
senzor3        19      37  0.30
senzor4         2       6  4.15
...           ...     ...   ...
senzor995      15      33  1.86
senzor996      43       8  5.92
senzor997      67      25  1.48
senzor998      57      19  2.15
senzor999      53      63  9.12

[1000 rows x 3 columns]

In [112]:
splitted = np.array_split(senzori, 10)
splitted

[          x_cord  y_cord   val
 senzor0       26      59  5.58
 senzor1       54      44  6.13
 senzor2       91       9  2.64
 senzor3       74      36  3.17
 senzor4       56      93  2.21
 ...          ...     ...   ...
 senzor95      60      75  4.18
 senzor96      23      60  9.22
 senzor97      60      17  0.93
 senzor98      68      30  3.73
 senzor99      90      55  6.64

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor100      46      98  4.82
 senzor101      25      87  2.73
 senzor102      15       7  2.62
 senzor103      52      10  4.28
 senzor104      96      51  8.32
 ...           ...     ...   ...
 senzor195      64      66  8.63
 senzor196      74      26  6.04
 senzor197      89      96  7.04
 senzor198      37      91  6.78
 senzor199      71      46  9.74

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor200      68      76  3.63
 senzor201      20      63  3.73
 senzor202      47      98  6.20
 senzor203      61      80  3.92
 senzor204      61      48  6.00
 ...           ...     ...   ...
 senzor295       0       9  0.52
 senzor296      39      17  0.75
 senzor297      73      26  9.34
 senzor298      41      12  0.30
 senzor299      32       3  3.51

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor300      13      43  8.37
 senzor301      68      56  9.81
 senzor302      74      64  4.64
 senzor303      71      36  2.71
 senzor304      14      64  7.08
 ...           ...     ...   ...
 senzor395      62      24  6.87
 senzor396      69      54  4.58
 senzor397      88      92  2.84
 senzor398      87      33  0.42
 senzor399      92      21  2.44

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor400      58      34  9.90
 senzor401      44      29  0.57
 senzor402      41      94  6.99
 senzor403      66      89  5.62
 senzor404      93      66  2.08
 ...           ...     ...   ...
 senzor495      84      71  8.42
 senzor496      64      20  1.06
 senzor497      60      34  4.24
 senzor498      34      66  8.66
 senzor499      96      94  9.66

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor500      99      18  8.59
 senzor501      32      18  3.93
 senzor502      78      32  6.82
 senzor503      91       1  0.06
 senzor504      57       5  7.48
 ...           ...     ...   ...
 senzor595      21      74  6.65
 senzor596      29      27  6.87
 senzor597      75      47  9.41
 senzor598      91      31  9.01
 senzor599      57      87  7.75

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor600      71      45  2.83
 senzor601      17       8  3.47
 senzor602      45      83  9.55
 senzor603      39      47  3.85
 senzor604      25      45  4.93
 ...           ...     ...   ...
 senzor695      27      95  2.90
 senzor696      60      15  7.24
 senzor697      29      30  5.63
 senzor698      13       7  6.42
 senzor699      69      14  2.72

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor700      46      18  8.17
 senzor701      69      17  8.42
 senzor702      88      19  2.54
 senzor703      69      19  1.61
 senzor704      11     100  1.80
 ...           ...     ...   ...
 senzor795       6      24  2.35
 senzor796       9      31  3.57
 senzor797     100      77  9.88
 senzor798      89      22  7.69
 senzor799      32      59  9.93

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor800      87      74  8.54
 senzor801      89      36  3.38
 senzor802      52      26  0.62
 senzor803      58      82  6.06
 senzor804      88      94  1.56
 ...           ...     ...   ...
 senzor895      23      78  3.46
 senzor896      12      77  3.63
 senzor897      23      83  0.78
 senzor898      40       7  3.75
 senzor899      50      53  2.31

 [100 rows x 3 columns],            x_cord  y_cord   val
 senzor900      64      93  8.66
 senzor901      11      52  1.36
 senzor902      73       9  8.94
 senzor903      29      54  3.51
 senzor904      67      64  5.05
 ...           ...     ...   ...
 senzor995      91      23  1.72
 senzor996      48      20  3.62
 senzor997      62      19  4.29
 senzor998      55      41  4.09
 senzor999      43      76  7.66

 [100 rows x 3 columns]]